<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FolhaPagamento.WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FolhaPagamento.WEB.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

    <div class="row g-0">
        <div class="col-md-2">
            <div class="d-flex flex-column flex-shrink-0 position-relative text-white bg-green vh-100">
                <a href="/" class="d-flex mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-4 p-2">Dashboard</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white" aria-current="page">
                            <i class="fa fa-calendar"></i>
                            Reservas
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <i class="fa fa-users"></i>
                            Colaboradores
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <i class="fa fa-money"></i>
                            Beneficios
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <i class="fa fa-files-o"></i>
                            Folha de Pagamento
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <i class="fa fa-bar-chart-o"></i>
                            Relatórios
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-pills flex-column position-absolute bottom-0 w-100">
                    <li>
                        <a href="#" class="nav-link text-white">
                            <i class="fa fa-users"></i>
                            Usuários
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <i class="fa fa-cogs"></i>
                            Configurações
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="container-fluid">
                @RenderSection("header")
                <main role="main" class="bg-light pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
