@{
    ViewData["Title"] = "Benefícios";
}

@section header {
    <div id="header">
        <div class="d-flex justify-content-between">
            <div class="bg-white w-50">
                <h2 class="display-6 fw-bold ms-5">@ViewData["Title"]</h2>
            </div>
            <div class="d-flex align-items-center bg-grey w-50">
                <a href="@Url.Action("index", "beneficio")" class="d-flex align-items-center justify-content-center icon-box h-100">
                    <span class="fs-5">
                        <i class="fa fa-plus"></i>
                    </span>
                </a>
                <a href="@Url.Action("all", "beneficio")" class="d-flex align-items-center justify-content-center icon-box h-100 icon-box-active">
                    <span class="fs-5">
                        <i class="fa fa-list-ol"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
}

<div class="text-start p-5">
    <div class="row">
        <div class="">
            <table class="table table-responsive">
                <thead class="thead-default">
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th>Descrição</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Vale Transporte</td>
                        <td>240,00</td>
                        <td>Auxílio Transporte Mensal</td>
                        <td class="text-right">
                            <div class="dropdown">
                                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Ver</a></li>
                                    <li><a class="dropdown-item" href="#">Editar</a></li>
                                    <li><a class="dropdown-item" href="#">Deletar</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
