@{
    ViewData["Title"] = "Nova Reserva";
}

@section header {
    <div id="header" class="d-none d-md-block">
        <div class="d-flex justify-content-between">
            <div class="bg-white w-50">
                <h2 class="display-6 fw-bold ms-5">@ViewData["Title"]</h2>
            </div>
            <div class="d-flex align-items-center bg-grey w-50">
                <a href="@Url.Action("index", "reserva")" class="d-flex align-items-center justify-content-center icon-box h-100">
                    <span class="fs-5">
                        <i class="fa fa-plus"></i>
                    </span>
                </a>
                <a href="@Url.Action("list", "reserva")" class="d-flex align-items-center justify-content-center icon-box h-100 icon-box-active">
                    <span class="fs-5">
                        <i class="fa fa-list-ol"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="d-block d-md-none">
        <div class="d-flex justify-content-between">
            <div class="bg-white w-50">
                <h2 class="display-6 fw-bold ms-5">@ViewData["Title"]</h2>
            </div>
            <div class="d-flex align-items-center bg-grey w-50"></div>
        </div>
    </div>
}

<div class="text-start p-5">
    <div class="row">
        <div class="w-100 form-box">
            <form class="row gy-2 gx-3 align-items-center" id="reserva">
                <div class="col-auto">
                    <label for="responsavel">Responsável</label>
                    <input type="text" class="form-control" id="responsavel">
                </div>
                <div class="col-auto">
                    <label for="data">Data</label>
                    <div class="input-group">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        <input type="date" class="form-control" id="data">
                    </div>
                </div>
                <div class="col-auto">
                    <label for="hora">Hora</label>
                    <div class="input-group">
                        <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                        <input type="time" class="form-control" id="hora">
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="qtdeHoras">QTDE Horas</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="qtdeHoras">
                    </div>
                </div>
                <div class="col-auto">
                    <label for="space">Campo/Quadra</label>
                    <select class="form-select" id="espaco">
                        <option selected>Selecione uma opção...</option>
                        <option value="1">Campo Gramado</option>
                        <option value="2">Campo Sintetico</option>
                        <option value="3">Quadra Esportiva</option>
                    </select>
                </div>
                <div class="col-auto">
                    <label for="valor">Valor Atual</label>
                    <div class="input-group">
                        <div class="input-group-text">R$:</div>
                        <input type="number" min="60.00" step="60.00" value="60.00" class="form-control" id="valor" readonly>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                        <label class="form-check-label" for="confirmado">Confirmado?</label>
                        <input type="checkbox" class="form-check-input bg-success" id="confirmado">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-5">
                        <div class="input-group d-flex justify-content-end">
                            <button type="submit" class="btn btn-success">Salvar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#confirmado').change(function() {
                confirmado = this.value ^= 1;
            })

            // CADASTRA RESERVA NA API
            $("#reserva").on('submit', function (e) {
                e.preventDefault();

                let settings = {
                    "url": BaseUrl + "/reservas",
                    "method": "POST",
                    "timeout": 0,
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "data": JSON.stringify({
                        "Responsavel": $('#responsavel').val(),
                        "DataReserva": $('#data').val() +'T'+ $('#hora').val(),
                        "QtdeHoras": $('#qtdeHoras').val(),
                        "Espaco": $('#espaco').val(),
                        "Valor": $('#valor').val(),
                        "Confirmado": ($('#confirmado').is(':checked')) ? 1 : 0,
                        "CreatedAt": getDateTime().split(" ")[0] +'T'+ getDateTime().split(" ")[1],
                    }),
                };

                $.ajax(settings).done(function (response) {
                    alert(response);
                    window.location.href = "/reserva/list"
                });
            })
        });
    </script>
}